.bg-blue{
  background-color: rgb(26, 31, 82);
}

.blue{
  color: rgb(26, 31, 82);
}

.bg-white{
  background-color: rgb(255,255,255);
}

.white{
  color: rgb(255, 255, 255);
}

.bg-yellow{
  background-color: rgb(255, 255, 0);
}

.yellow{
  color: rgb(255, 255, 0);
}

.bg-drk-yel{
  background-color: rgb(255, 205, 0);
}

.drk-yel{
  color: rgb(255, 205, 0);
}

.bg-black{
  background-color: rgb(0, 0, 0);
}

.black{
  color: rgb(0, 0, 0);
}

.yel-bg-graphic{
  background: url('https://www.dropbox.com/s/urrj208felaf8j3/yellow-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.yel-bg-graphic-2{
  background: url('https://www.dropbox.com/s/hcf0cvy7ynpss38/yellow-bg-img_2.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic{
  background: url('https://www.dropbox.com/s/fp21vur8i3p5ama/blue-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-2{
  background: url('https://www.dropbox.com/s/haf9so6gzkifhye/blue-bg-img_2.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-3{
  background: url('https://www.dropbox.com/s/zuhmzgcrhmwbll7/blue-bg-img_3.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-4{
  background: url('https://www.dropbox.com/s/5ljg5vl93wgmyfw/blue-bg-img_4.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.wht-bg-graphic{
  background: url('https://www.dropbox.com/s/jkhqgp2bgab2m73/white-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}