.bg-blue{
  background-color: rgb(26, 31, 82);
}

.blue{
  color: rgb(26, 31, 82);
}

.bg-white{
  background-color: rgb(255,255,255);
}

.white{
  color: rgb(255, 255, 255);
}

.bg-yellow{
  background-color: rgb(255, 255, 0);
}

.yellow{
  color: rgb(255, 255, 0);
}

.bg-drk-yel{
  background-color: rgb(255, 205, 0);
}

.drk-yel{
  color: rgb(255, 205, 0);
}

.bg-black{
  background-color: rgb(0, 0, 0);
}

.black{
  color: rgb(0, 0, 0);
}

.yel-bg-graphic{
  background: url('https://www.dropbox.com/s/tucwp7bbhwmuv2a/yellow-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.yel-bg-graphic-2{
  background: url('https://www.dropbox.com/s/94t0rlxwv8sw6qy/yellow-bg-img_2.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic{
  background: url('https://www.dropbox.com/s/jqsvra4xxfbhza2/blue-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-2{
  background: url('https://www.dropbox.com/s/tqic3eoak78g8zu/blue-bg-img_2.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-3{
  background: url('https://www.dropbox.com/s/ay7bxnjvex25vwf/blue-bg-img_3.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.blue-bg-graphic-4{
  background: url('https://www.dropbox.com/s/0uqjymxicgjkcu7/blue-bg-img_4.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}

.wht-bg-graphic{
  background: url('https://www.dropbox.com/s/40lnzncqd3234ey/white-bg-img.png?raw=1') no-repeat center center fixed;
  background-size: cover;
}
