.map{
	padding-top: 154px;
	display: flex;
	flex-direction: column;
}

.map iframe{
	height: calc(100vh - 291px);
	width: 100%;
}

.say-hello{
	text-align: center;
}

.chev-icon{
	font-size: 35px;
}

/* SMART DEVICES  */
@media screen and (min-width:  1500px){

  .map{
    padding-top: 194px;
  }

  .map iframe{
		height: calc(100vh - 331px);
	}

}