.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: rgb(26, 31, 82);
  box-shadow: 0 1px 51px 22px rgba(0, 0, 0, 0.3);
}

.on-page{
  text-decoration: underline;
}

.navbar a{
  margin: 0 auto;
}

.logo{
  height: 120px;
  text-align: left;
  padding: 15px;
}

.nav-menu{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

.nav-link-cont{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
}

.nav-link{
  width: auto;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
}

.nav-link a{
  color:  rgb(26, 31, 82);
  height: 100%;
  width: 100%;
  padding: inherit;
}

.nav-link a:hover{
  color: rgb(255, 205, 0);
  background-color: rgb(26, 31, 82);
}

/* SMART DEVICES */
@media screen and (min-width:  898px){

  .nav-link{
    font-size: 17px;
  }

}
@media screen and (min-width:  1500px){

  .logo{
    height: 160px;
  }

  .nav-link{
    font-size: 18px;
  }

}